---
import Layouts from '../layouts/Layout.astro'
import {Pilots} from '../api/Pilots.ts'
const data = await Pilots()
---
<Layouts>
  <div class="card-body">
    <h2 class="card-title">
      <p></p>
    </h2>
  </div>
</Layouts>
