---
import Layouts from '../layouts/Layout.astro'
import {Pilots} from '../api/Pilots.ts'
const data = await Pilots()
---
<Layouts>
  <div class="card lg:card-side bg-base-100 shadow-sm pt-20 pl-30">
     
  </div>
</Layouts> 
