---
import Teams from './icons/Teams.astro'
import getConstructor from '../api/ChampionConstructor'
const teamData = await getConstructor()

const ITEMS = [
  {
    title: "Escuderia"
    },
    {
      title: "Puntaje"
      },
    {
    title: "Pais"
    },
]

--- 
<div class="pl-50 pt-10 pb-2 font-bold flex"> 
  <Teams/> 
    <h1 class="text-xl">Campeonato de constructores<h1/>
</div>
<div class="relative overflow-x-auto sm:rounded-l pl-50 pb-20">
    <table class="text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 w-fit rounded-xl">
        <thead class="text-xs text-gray-700 bg-gray-700 uppercase dark:text-gray-400">
          <tr>
            {ITEMS.map (team => (
                <th scope="col" class="px-6 py-3">
                  {team.title}
                </th>
                ))}
        </thead>
        <tbody>
          {teamData?.map((item:any) => (
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  {item.team.teamName}
                </th>
                <td class="px-6 py-4">
                  {item.points}
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                  {item.team.country}
                </td>
                }))
        </tbody>
    </table>
</div>
