---
interface Props {
  TargetTime: string; 
}
const { TargetTime } = Astro.props; 
---
<div class="grid auto-cols-max grid-flow-col gap-5 text-center pl-50">
  <div class="flex flex-col" >
    <span class="countdown font-mono text-5xl">
      <span id="days" class="--value:0;" aria-live="polite" aria-label="15">15</span>
    </span>
    Dias 
  </div>  
  <div class="flex flex-col">
    <span class="countdown font-mono text-5xl">
      <span  id="hours" class="--value:15;" aria-live="polite" aria-label="15">15</span>
    </span>
    Horas 
  </div>  <div class="flex flex-col">
    <span class="countdown font-mono text-5xl">
      <span  id="minutes" class="--value:15;" aria-live="polite" aria-label="15">15</span>
    </span>
    Minutos 
  </div>  <div class="flex flex-col">
    <span class="countdown font-mono text-5xl">
      <span  id="seconds" class="--value:15;" aria-live="polite" aria-label="15">15</span>
    </span>
    Segundos
  </div>
</div>


<script data-target={TargetTime} is=inline>
  const target = new Date(document.currentScript.dataset.target).getTime()

  function update(){ 
    const now = new Date().getTime();
    const diff = target - now 
    if (diff < 0) return; 

    const days = Math.floor(diff / (1000 * 60 * 60 * 24));
    const hours = Math.floor((diff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) ;
    const minutes = Math.floor((diff % (1000 * 60 * 60 )) / (1000 * 60));
    const seconds = Math.floor((diff % (1000 * 60 )) / 1000);

    document.getElementById('days').textContent = String(days).padStart(2, '0');
    document.getElementById('hours').textContent = String(hours).padStart(2, '0');
    document.getElementById('minutes').textContent = String(minutes).padStart(2, '0');
    document.getElementById('seconds').textContent = String(seconds).padStart(2, '0');
  }

  update();

  setInterval(update, 1000);
</script>
