---
const ITEMS =[
  {
    title: "Pais"
    },
    {
    title: "Ciudad"
    }
]
---

<div class="relative overflow-x-auto sm:rounded-l pl-50 pb-20">
  <tbody>
    <tr scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
      <th>
        hola 
      </th>
      <td>
        mundo
      </td>
    </tr>
  </tbody>
</div>
