---
import Wikipedia from "./icons/Wikipedia.astro"
import {Race} from '../api/NextRace.ts'

const data = await Race()
const url = data[0].circuit.url 
---

<button class="btn btn-dash">
  <a href={url} target="_blank" class="flex items-center gap-1">
    <Wikipedia />
    Wikipedia
  </a>
</button>
